<form action="/landmarks" method="post">
  <p>
    Landmark Name: <input type="text" name="landmark[name]" id="landmark_name">
  </p>
  <p>
    Landmark Year Completed: <input type="text" name="landmark[year_completed]" id="landmark_year_completed">
  </p>
  <p>
    <input type="submit" value="Create New Landmark">
  </p>
</form>
